.navbar-expand .navbar-nav {
  display: flex;
  align-items: center;
  gap: 15px;
  margin-left: 10px;
}
.nav-link {
  padding: unset;
  padding-left: unset !important;
  padding-right: unset !important;
}

.navbar > .container {
  justify-content: unset;
  gap: 10px;
}

main {
  .container {
    padding: 1.1rem;
  }
}

.input-group {
  flex-wrap: nowrap;
  .btn  {
    z-index: 0;
  }
}

.products-column {
  padding: 1.1rem;
}

.card-details {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.card-text {
  .card-icon {
    margin: unset;
    padding: unset;
  }
}
.active-nav {
  background-color: #f8f9fa;
}
.navbar-collapse {
  justify-content: center;
}
.search-form {
  width: 100%;
}

.sidebar-title{
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
}